h1 {
  color: black;
  font-size: 30px;
  font-weight: 200;
  line-height: 28px;
  margin: 0;
}

p {
  padding: 10px;
}

ul {
  display: block;
  margin: 0 0px;
  padding: 0;
  list-style: none;
}

li {
  color: black;
  font-size: 16px;
  font-weight: 200;
  height: 20px;
  line-height: 1;
}
.current {
  font-weight: 400;
}
.container {
  border: 4px solid;
  padding: 20px;
  margin-top: 30px;
  max-width: 600px;
}
.col {
  border-right: 1px solid black;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.temperature {
  font-size: 70px;
  text-align: center;

  top: 150px;
  left: 200px;
}
.units {
  text-decoration: none;
  position: relative;
  top: -34px;
}
.current.temperature {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
}
.currentIcon {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
}
